/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require _bootstrap
 *= require _bootstrap-sprockets
 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import "slick";
@import "slick-theme";

#contact_info
{
  text-align: right;
  p{
    font-size: large;
  }
}

body, body > p, body > ol, body > ul, body > td {
  margin: 8px !important
}

#banner {
  opacity: 0.78;
  position: relative;
  min-height: 70px;
  background-image: linear-gradient(90deg, #30e8bf, #ff8235);
  padding: 10px;
  border-bottom: 4px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #c4ff6e;
  text-align: center;
  border-radius: 5px;

  img {
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 152px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid #65ff7a;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  font-size: large;
}

#error {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  font-size: large;
}

#notice:empty {
  display: none;
}

#columns {

  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  a{
    margin-left: 20px;
  }

  #main {
    padding: 1em;
    background: whitesmoke;
    flex: 1;
  }

  .side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }

  .side a:hover {
    color: #f1f1f1;
  }

  .side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: larger;
    margin-left: 50px;
  }


  @media screen and (max-height: 450px) {
    .side {padding-top: 15px;}
    .side a {font-size: 18px;}
  }

  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        opacity: 1;
        color: #bfb;
        font-size: large;
      }
    }
  }
}

#signup{
  a{
    font-size: medium;
    color: #000000;
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner.title {
    display: none;
  }
}

.depot_form {
  width: 45%;
  fieldset {
    background: cornflowerblue;
    border-radius: 10px;
    opacity: 0.9;
  }

  .checkout
  {
    float: right;
    margin-right: 5em;
  }

  legend {
    color: #dfd;
    background: coral;
    font-family: sans-serif;
    padding: 0.2em 1em;
    border-radius: 10px;
    opacity: 0.8;
    margin-bottom: 1.95em;
  }

  div {
    margin-bottom: 0.3em;
  }

  form {
    label {
      width: 6em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.9em;
      display: block;
    }

    select, textarea, input {
      width: inherit;
    }

    br {
      display: none;
    }
  }
}

.total_orders
{
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif serif;
  font-size: large;
}

.user_info
{
  input{
    height: auto;
    width: 150px;
  }
  text-align: right;
  p{
    font-family: "Bitstream Vera Sans Mono", sans-serif;
    font-size: large;
    color: #31ff32;
  }
  .scroller{
    div{
      background-size: cover;
      text-align: center;
      font-size: 30px;
      position: relative;
    }
  }

  .slick-prev::before, .slick-next::before {
    color: #000;
  }

  .slick-next {
    right: -15px;
  }

  .slick-prev {
    left: -15px;
  }
}